.catpic{
        width:50px;
        height:50px;
        object-fit: cover;
        border-radius: 25px;
        vertical-align: middle;
      }
      .searchbar{
        font-size:16px;
        width:300px;
        height:30px;
        border: none;
        vertical-align: middle;
        margin-left: 5px;
      }
      .twitter-button{
        background-color: rgb(29, 155, 240);
        color: white;
        border-radius: 17px;
        height: 35px;
        width: 75px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        margin-right: 8px;
        transition:box-shadow 0.15s;
        vertical-align: middle;
    }
    .twitter-button:hover{
        box-shadow:0px 5px 10px rgba(0,0,0,0.3);
    }
    .twitter-button:active{
        opacity:0.8;
    } 

    p{
      margin-top: 0px;
      margin-bottom:0px;
    }
    .email-line{
      color:grey;
      font-family:Arial;
      margin-top:20px;
      margin-bottom:10px;
    }
    .email-box{
      margin-top:0px;
      width: 390px;
      border-color:rgb(139, 139, 139);
      height: 30px;
      border-radius: 4px;
      margin-bottom:20px;
    }
    .text-below{
      font-family:Arial;
      color:grey;
      margin-bottom:20px;
    }
    .Agree-button{
      padding-left:150px;
      padding-right:150px;
      padding-top:15px;
      padding-bottom:15px;
      border: none;
      border-radius:30px;
      background-color: rgb(10, 102, 194);
      color: white;
      font-size: 16px;
      display:block;
    }
    .Agree-button:hover{
      cursor:pointer;
      box-shadow:5px 5px 20px rgb(48, 46, 46)
    }
    .Agree-button:active{
       opacity:0.8;
    }
    .first-bar,
    .sec-bar{
      margin-top: 20px;
      margin-left: 0px;
      width: 150px;
      height: 35px;
      border-radius:5px;
      border-color: grey;
      font-size: 14px;
      cursor:pointer;
    }
    .email-box-2{
      display:block;
      margin-top:9px;
      width: 312px;
      border-radius:5px;
      height: 35px;
      font-size: 14px;
      cursor: pointer;
    }
    .signup{
      margin-top:9px;
      width: 320px;
      border-radius:5px;
      height: 44px;
      border:none;
      background-color:rgb(0, 119, 199);
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      transition: cursor 0.15s;
      display:block;
    }
    .signup:hover{
      cursor: pointer;
    }
    .signup:active{
      box-shadow: 0px 3px 15px black;
    }
    .catpic2{
      width:150px;
      height:160px;
      display:block;
    }
    .catName{
      margin-top:10px;
      font-family:Arial;
      margin-left:8px;
    }
    .sub-line1{
      margin-left:8px;
      margin-top:5px;
      font-size:12px;
      color: grey;
      font-family:Arial;
    }
    .oliver-button{
      margin-left:8px;
      margin-top:7px;
      background-color:rgb(10, 102, 194);
      color: white;
      padding-left:10px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
      border:none;
      border-radius:3px;
      margin-bottom:5px;
    }
    .oliver-button:hover{
      cursor:pointer;
    }
    .oliver-button:active{
      box-shadow: 0px 3px 20px black
    }
    .divFB-1{
      margin-top:10px;
      display:inline-block;
      margin-right:5px;
      box-shadow: 0 10px 10px grey;
      border-radius:10px;
    }